<!DOCTYPE html>
<html lang="en">
<head>
    <title>ConUshop | Home </title>
    <% include ../components/header.ejs %>
</head>
<body>
<!-- navigator -->
<% include ../components/navigator.ejs %>
<!-- //navigator -->


<% include ../components/adminNav.ejs %>
<!--%= jsonData %-->

<div class="footer">
    <div class="footer-copy">
        <div class="footer-copy1">
            <div class="footer-copy-pos">
                <a href="/dashboard" class="scroll"><img src="/images/arrow.png" alt=" " class="img-responsive" /></a>
            </div>
        </div>
    <div class="container">
        <p>&copy; 2017 ConUshop. All rights reserved.</p>
    </div>
</div>
</div>
</body>
</html>
