<!DOCTYPE html>
<html lang="en">
<head>
    <title>ConUshop | Home </title>
    <% include ../components/header.ejs %>
</head>
<body>
<!-- navigator -->
<% include ../components/navigator.ejs %>
<!-- //navigator -->



<!--%= jsonData %-->
<br><br>
<h1 class="text-center">Welcome To Admin Dashboard</h1>
<br><br>
<div class="text-center">
    <a href="/admin/clients"><button type="button" class="btn btn-primary btn-lg btn3d">Client</button></a>
    <a href="/admin/desktops"><button type="button" class="btn btn-primary btn-lg btn3d">Edit/View</button></a>
    <a href="/admin/items"><button type="button" class="btn btn-primary btn-lg btn3d">Item Catalog</button></a>
</div>

<!-- flash messages -->
<% include ../components/flashMessages.ejs %>
<br><br>
<h1 class="text-center">Welcome To Admin Dashboard</h1>
<br><br>
<div class="footer">
    <div class="footer-copy">
        <div class="footer-copy1">
            <div class="footer-copy-pos">
                <a href="/dashboard" class="scroll"><img src="/images/arrow.png" alt=" " class="img-responsive" /></a>
            </div>
        </div>
    <div class="container">
        <p>&copy; 2017 ConUshop. All rights reserved.</p>
    </div>
</div>
</div>
</body>
</html>
