<!DOCTYPE html>
<html lang="en">
<head>
    <title>ConUshop | Home </title>
    <% include ../../assets/components/header.ejs %>
</head>
<body>
<!-- for bootstrap working -->
<script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->
<!-- navigator -->
<% include ../../assets/components/navigator.ejs %>
<!-- //navigator -->


<% include ../../assets/components/dashboardNav.ejs %>
<!--%= jsonData %-->

<div class="footer">
    <div class="footer-copy">
        <div class="footer-copy1">
            <div class="footer-copy-pos">
                <a href="/dashboard" class="scroll"><img src="/images/arrow.png" alt=" " class="img-responsive" /></a>
            </div>
        </div>
    <div class="container">
        <p>&copy; 2017 ConUshop. All rights reserved.</p>
    </div>
</div>
</div>
</body>
</html>
