<!DOCTYPE html>
<html lang="en">
<head>
    <title>ConUshop | Home </title>
    <% include ../components/header.ejs %>
</head>
<body>
<!-- for bootstrap working -->
<script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<!-- //for bootstrap working -->
<!-- navigator -->
<% include ../components/navigator.ejs %>
<!-- //navigator -->
<% include ../components/adminNav.ejs %>

<form method="post" action="/admin/addItem">
    <div class="AddItem">
        <label>serialNumber</label>
        <input type="text" class="" name="serialNumber" placeholder="Serial Number">
    </div>
    <div class="AddItem">
        <label>modelNumber</label>
        <input type="text" class="" name="modelNumber" placeholder="Model Number">
    </div>
    <button type="submit" class="">Add item</button>
</form></br>

<form method="post" action="/admin/deleteItem">
    <div class="DeleteItem">
        <label>serialNumber</label>
        <input type="text" class="" name="serialNumberToRemove" placeholder="Serial Number">
    </div>
    <button type="submit" class="">Delete item</button>
</form></br>
<div>
    <% if (typeof data!='undefined') { %>
        <table>
            <tr>
                <td>Serial Number</td>
                <td>Model Number</td>

            </tr>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].serialNumber %></td>
                <td><%= data[i].modelNumber %></td>
            </tr>
        <% } %>
        </table>
    <% } %>
</div>
<!--%= jsonData %-->
<!-- footer -->
<% include ../components/footer.ejs %>
<!-- //footer -->

</body>
</html>