<html lang="en">
    <head>
        <title>ConUshop | Home </title>
        <% include ../components/header.ejs %>
    </head>
    <body>
    
    <% include ../components/navigator.ejs %>
    <% include ../components/clientNav.ejs %>
    
    <div>
        <% if (typeof data!='undefined') { %>
            <table>
                <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Total</a></th>
                </tr>
                <% for(var i = 0; i < data.length; i++) { %>
                    <tr>
                        <td class="serial"><%= data[i].orderId %></td>
                        <td class="model"><%= data[i].orderDate%></td>
                        <td class="brand"><%= data[i].total %></td>
                        <td>
                            <form method="get" action="/client/order/details/<%= data[i].orderId %>">
                                <button type="submit">View Details</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </table>
        <% } %>
    </div>
    
    <!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script> -->
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.js'></script> -->
    <script type="text/javascript" src="/js/catalog/catalog.js"></script>
    <% include ../components/footer.ejs %>
    </body>
    </html>
    