<!DOCTYPE html>
<html>
<head>

</head>

<body>
<div class="jumbotron text-center">
    <h1>Welcome to Conu.shop</h1>
    <h3><%= firstName %></h3>
    <a href="/users/logout">Logout</a>
</div>


</body>
</html>
