<html lang="en">
    <head>
        <title>ConUshop | Home </title>
        <% include ../../assets/components/header.ejs %>
    </head>
    <body>
    <script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.js'></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.min.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/js/main.js"></script>
    
    <% include ../../assets/components/navigator.ejs %>
    <% include ../../assets/components/clientNav.ejs %>
    
    <div>
        <% if (typeof data!='undefined') { %>
            <table>
                <tr>
                    <th>Serial #</th>
                    <th>Model</th>
                </tr>
                <% for(var i = 0; i < data.length; i++) { %>
                    <tr>
                        <td class="serial"><%= data[i].serialNumber %></td>
                        <td class="model"><%= data[i].modelNumber %></td>
                        <td><button onclick="deleteCartItem('<%= data[i].serialNumber %>')">Delete</button></td>
                    </tr>
                <% } %>
            </table>
        <% } %>
        <td><button onclick="makePurchase()">Make Purchase</button></td>
    </div>
    
    <!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script> -->
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.js'></script> -->
    <script type="text/javascript" src="/js/catalog/catalog.js"></script>
    <% include ../../assets/components/footer.ejs %>
    </body>
    </html>
    