<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</head>

<body>

<div class="jumbotron text-center">
    <!--%= jsonData %-->
</div>

<form method="post" action="/catalog/addItem">
    <div class="AddItem">
        <label>modelNumber</label>
        <input type="text" class="" name="modelNumber" placeholder="Model Number">
    </div>
    <div class="AddItem">
        <label>serialNumber</label>
        <input type="text" class="" name="serialNumber" placeholder="Serial Number">
    </div>
    <button type="submit" class="">Add item</button>
</form></br>

<form method="post" action="/catalog/deleteItem">
    <div class="DeleteItem">
        <label>serialNumber</label>
        <input type="text" class="" name="serialNumberToRemove" placeholder="Serial Number">
    </div>
    <button type="submit" class="">Delete item</button>
</form></br>
<div>
    <% if (typeof data!='undefined') { %>
        <table>
            <tr>
                <td>Model Number</td>
                <td>Serial Number</td>

            </tr>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].modelNumber %></td>
                <td><%= data[i].serialNumber %></td>
            </tr>
        <% } %>
        </table>
    <% } %>
</div>
</body>
</html>
