<!DOCTYPE html>
<html>
<body>

<h1>Welcome To Admin Dashboard</h1>
+<div class="InventoryList">
    +    <h1>Inventory List</h1>
    +    <h3>Select the category you with to see the inventory list for:</h3>
    +    <nav>
        +        <ul class="">
            +            <li role="inventoryList"><a href="/inventory/desktopView">Desktop</a></li>
            +            <li role="inventoryList"><a>Laptop</a></li>
            +            <li role="inventoryList"><a>Monitor</a></li>
            +            <li role="inventoryList"><a>tablet</a></li>
            +            <li role="inventoryList"><a>television</a></li>
            +        </ul>
        +    </nav>
    +    <!--%= jsonData %-->
    +</div>
</body>
</html>