<!DOCTYPE html>
<html lang="en">
<head>
    <title>ConUshop | Home </title>
    <% include ../../assets/components/header.ejs %>
</head>
<body>
<!-- for bootstrap working -->
<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->
<!-- navigator -->
<% include ../../assets/components/navigator.ejs %>
<!-- //navigator -->

<h2>Account Login</h2>
<form method="post" action="/users/login">
    <div class="accountLogin">
        <label>Email</label>
        <input type="text" class="" name="email" placeholder="email">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="" name="password" placeholder="Password">
    </div>
    <button type="submit" class="">Submit</button>
</form>
<!--%= jsonData %-->
<!-- footer -->
<% include ../../assets/components/footer.ejs %>
<!-- //footer -->

</body>
</html>
