<div class="container inside_dashboard_nav">
    <ul class="admin_dashboard">
        <li class="nav_dashboard" role="inventoryList"><a href="/admin/desktop">Desktop</a></li>
        <li class="nav_dashboard" role="inventoryList"><a href="/admin/laptop">Laptop</a></li>
        <li class="nav_dashboard" role="inventoryList"><a href="/admin/monitor">Monitor</a></li>
        <li class="nav_dashboard" role="inventoryList"><a href="/admin/tablet">Tablet</a></li>
        <li class="nav_dashboard" role="inventoryList"><a href="/admin/inventory">Item Catalog</a></li>
    </ul>
</div>
<br><br>
<h1>Welcome To Admin Dashboard</h1>
<br><br>
