<div class="client_navigation">
    <ul class="nav_client">

        <li class="nav_client" role="inventoryList"><a href="/catalog/desktops">Desktop</a></li>
        <li class="nav_client" role="inventoryList"><a href="/catalog/laptops">Laptop</a></li>
        <li class="nav_client" role="inventoryList"><a href="/catalog/monitors">Monitor</a></li>
        <li class="nav_client" role="inventoryList"><a href="/catalog/tablets">Tablet</a></li>



    </ul>
</div>
<br><br>
<br><br>