<div class="client_navigation">
    <ul class="nav_client">

        <li class="nav_client" role="inventoryList"><a href="/catalog/TempClientPage">Desktop</a></li>
        <li class="nav_client" role="inventoryList"><a href="/catalog/TempClientPage">Laptop</a></li>
        <li class="nav_client" role="inventoryList"><a href="/catalog/TempClientPage">Monitor</a></li>
        <li class="nav_client" role="inventoryList"><a href="/catalog/TempClientPage">Tablet</a></li>
        <li class="nav_client" role="inventoryList"><a href="/catalog/TempClientPage">Item Catalog</a></li>

    </ul>
</div>
<br><br>
<br><br>