<div class="client_navigation">
    <ul class="nav_client">
        <li class="nav_client" role="inventoryList"><a href="/catalog/desktop">Desktop</a></li>
        <li class="nav_client" role="inventoryList"><a href="/catalog/laptop">Laptop</a></li>
        <li class="nav_client" role="inventoryList"><a href="/catalog/monitor">Monitor</a></li>
        <li class="nav_client" role="inventoryList"><a href="/catalog/tablet">Tablet</a></li>
    </ul>
</div>
<br><br>
<br><br>
