<div class="client_navigation">
    <ul class="nav_client">

        <li class="nav_client" role="inventoryList"><a href="/catalog/ClientPage/Desktop">Desktop</a></li>
        <li class="nav_client" role="inventoryList"><a href="/catalog/ClientPage/Laptop">Laptop</a></li>
        <li class="nav_client" role="inventoryList"><a href="/catalog/ClientPage/Monitor">Monitor</a></li>
        <li class="nav_client" role="inventoryList"><a href="/catalog/ClientPage/Tablet">Tablet</a></li>



    </ul>
</div>
<br><br>
<br><br>