<div class="container inside_dashboard_nav">
    <ul class="admin_dashboard">
        <li class="nav_dashboard" role="inventoryList"><a href="/catalog/desktopView">Desktop</a></li>
        <li class="nav_dashboard" role="inventoryList"><a href="/catalog/laptopView">Laptop</a></li>
        <li class="nav_dashboard" role="inventoryList"><a href="/catalog/monitorView">Monitor</a></li>
        <li class="nav_dashboard" role="inventoryList"><a href="/catalog/tabletView">Tablet</a></li>
        <li class="nav_dashboard" role="inventoryList"><a href="/catalog/itemsView">Item Catalog</a></li>
    </ul>
</div>
<br><br>
<h1>Welcome To Admin Dashboard</h1>
<br><br>
