<!DOCTYPE html>
<html>
<head>

</head>

<body>

<div class="">
    <nav>
        <ul class="">
            <li role="navMenu"><a href="/users/dashboard">Dashboard</a></li>
            <li role="navMenu"><a href="/users/logout">Logout</a></li>
            <li role="navMenu"><a href="/users/login">Login</a></li>
            <li role="navMenu"><a href="/users/register">Register</a></li>
        </ul>
    </nav>
</div>

<div class="">
    <h1>CONU SHOP PLACEHOLDER</h1>
</div>
<div class="InventoryList">
    <h1>Inventory List</h1>
    <h3>Select the category you with to see the inventory list for:</h3>
    <nav>
        <ul class="">
            <li role="inventoryList"><a href="/inventory/desktopView">Desktop</a></li>
            <li role="inventoryList"><a href="/inventory/laptopView">Laptop</a></li>
            <li role="inventoryList"><a href="/inventory/monitorView">Monitor</a></li>
            <li role="inventoryList"><a href="/inventory/tabletView">tablet</a></li>
            <li role="inventoryList"><a href="/inventory/televisionView">television</a></li>
        </ul>
    </nav>
    <!--%= jsonData %-->
</div>

<div class="InventoryListItems" id="dashboard">
    <button type="button" class="">Add</button>

</div>
</body>
</html>

