<!DOCTYPE html>
<html>
<head>

</head>

<body>

<div class="">
    <nav>
        <ul class="">
            <li role="navMenu"><a href="/">Dashboard</a></li>
            <li role="navMenu"><a href="/users/logout">Logout</a></li>
            <li role="navMenu"><a href="/users/login">Login</a></li>
            <li role="navMenu"><a href="/users/register">Register</a></li>
        </ul>
    </nav>
</div>

<div class="jumbotron text-center">
<h1>CONU SHOP PLACEHOLDER</h1>
<!--%= jsonData %-->
</div>


</body>
</html>
