<!DOCTYPE html>
<html>
<head>

</head>

<body>
<h2 class="page-header">Register</h2>
<div class="alert alert-danger">
    <% if (typeof errors != 'undefined') { %>
        <% for(var i = 0; i < errors.length; i++) { %>
            <span style='color:red;'><%= errors[i].msg %></span></br>
        <% } %>
    <% } %>
</div>

<form method="post" action="/users/register">

    <table>
        <div class="form-group">
            <tr>
                <td><label>First Name</label></td>
                <td><input type="text" class="form-control" placeholder="firstName" name="firstName"></td>
            </tr>
        </div>
        <div class="form-group">
            <tr>
                <td><label>Last Name</label></td>
                <td><input type="text" class="form-control" placeholder="lastName" name="lastName"></td>
            </tr>
        </div>
        <div class="form-group">
            <tr>
                <td><label>Email</label></td>
                <td><input type="email" class="form-control" placeholder="email" name="email"></td>
            </tr>
        </div>
        <div class="form-group">
            <tr>
                <td><label>Password</label></td>
                <td><input type="password" class="form-control" placeholder="password" name="password"></td>
            </tr>
        </div>
        <div class="form-group">
            <tr>
                <td><label>Confirm Password</label></td>
                <td><input type="password" class="form-control" placeholder="password2" name="password2"></td>
            </tr>
        </div>
        <div class="form-group">
            <tr>
                <td><label>Address</label></td>
                <td><input type="text" class="form-control" placeholder="address" name="address"></td>
            </tr>
        </div>
        <div class="form-group">
            <tr>
                <td><label>Phone</label></td>
                <td><input type="text" class="form-control" placeholder="phone" name="phone"></td>
            </tr>
        </div>
        <tr>
            <button type="submit" class="btn btn-default">Submit</button>
        </tr>
    </table>
</form>
<!--%= jsonData %-->


</body>
</html>
