<script src="/js/script.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js">
</script>

<div class="container inside_nav ">
    <ul class="nav_ul nav-center">
        <li class="nav_li" role="inventoryList"><a href="/admin/desktops">Desktop</a></li>
        <li class="nav_li" role="inventoryList"><a href="/admin/laptops">Laptop</a></li>
        <li class="nav_li" role="inventoryList"><a href="/admin/monitors">Monitor</a></li>
        <li class="nav_li" role="inventoryList"><a href="/admin/tablets">Tablet</a></li>
    </ul>
</div>
