<div class="container inside_nav">
    <ul class="nav_ul">
        <li class="nav_li" role="inventoryList"><a href="/admin/desktops">Desktop</a></li>
        <li class="nav_li" role="inventoryList"><a href="/admin/laptops">Laptop</a></li>
        <li class="nav_li" role="inventoryList"><a href="/admin/monitors">Monitor</a></li>
        <li class="nav_li" role="inventoryList"><a href="/admin/tablets">Tablet</a></li>
        <li class="nav_li" role="inventoryList"><a href="/admin/items">Item Catalog</a></li>
    </ul>
</div>
<br><br>
<h1>Welcome To Admin Dashboard</h1>
<br><br>
