<div class="container inside_nav">
    <ul class="nav_ul">
        <li class="nav_li" role="inventoryList"><a href="/catalog/desktops">Desktop</a></li>
        <li class="nav_li" role="inventoryList"><a href="/catalog/laptops">Laptop</a></li>
        <li class="nav_li" role="inventoryList"><a href="/catalog/monitors">Monitor</a></li>
        <li class="nav_li" role="inventoryList"><a href="/catalog/tablets">Tablet</a></li>
    </ul>
</div>
